<ion-content>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ionic App</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap">

  <div class="container">
    <img src="assets/bigglift_logo.png" alt="Bigg Lift Logo" class="logo"/>
    <h2>Iniciar Sesion</h2>
    <p>Listo para entrenar?</p>

    <ion-item>
      <ion-label position="floating">Email</ion-label> 
      <ion-input type="email" placeholder="Ejemplo@email.com"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" placeholder="••••••••"></ion-input>
    </ion-item>

    <ion-button expand="block">Iniciar Sesion</ion-button>

    <p class="forgot-password">
      <a href="#">Olvidaste tu contraseña?</a> | 
      <a [routerLink]="['/iniciodesesion']">Registrarse</a>
    </p>    
    
  </div>
</ion-content>