<ion-content>
  <div class="container">
    
    <img src="assets/biggFit_logo.png" alt="Bigg Fit Logo" class="logo" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap">
    <h2>Registrarse</h2>
    <p>Comenzá tu entrenamiento</p>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" placeholder="Ejemplo@email.com" [(ngModel)]="Usuarios.correo_electronico"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" placeholder="••••••••" [(ngModel)]="Usuarios.contraseña"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre del usuario</ion-label>
      <ion-input type="text" placeholder="Ingrese su nombre de usuario" [(ngModel)]="Usuarios.nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha de Nacimiento</ion-label>
      <ion-datetime display-format="DD MMMM YYYY" placeholder="Seleccione su fecha de nacimiento" presentation="date" [(ngModel)]="Usuarios.edad"></ion-datetime>
    </ion-item>    
  
    <ion-item>
      <ion-label position="floating">Peso</ion-label>
      <ion-input type="number" placeholder="Ingrese su peso en kg" [(ngModel)]="Usuarios.peso"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Altura</ion-label>
      <ion-input type="number" placeholder="Ingrese su altura en cm" [(ngModel)]="Usuarios.altura"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Sexo</ion-label>
      <ion-select placeholder="Seleccione su sexo" [(ngModel)]="Usuarios.sexo">
        <ion-select-option value="masculino">Masculino</ion-select-option>
        <ion-select-option value="femenino">Femenino</ion-select-option>
      </ion-select>
    </ion-item>
      
    <ion-item>
      <ion-label position="floating">Nivel de condición física</ion-label>
      <ion-select placeholder="Seleccione su nivel de condición física" [(ngModel)]="Usuarios.nivel_condicion_fisica">
        <ion-select-option value="principiante">Principiante</ion-select-option>
        <ion-select-option value="intermedio">Intermedio</ion-select-option>
        <ion-select-option value="avanzado">Avanzado</ion-select-option>
      </ion-select>
    </ion-item>
      
    <ion-button expand="block" (click)="register()">Registrarse</ion-button>

    <p class="forgot-password">
      <a [routerLink]="['/registrarse']">Iniciar Sesión</a>
    </p>    
  </div>
</ion-content>
