<ion-content>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Configuración de la Aplicación</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap">

  <div class="container">
    <h2>Configuración de la Cuenta</h2>
    <p>Actualiza tu información</p>

    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input type="text" placeholder="Ingrese su nuevo nombre de usuario"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Actualizar Peso</ion-label>
      <ion-input type="number" placeholder="Ingrese su peso en kg"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Actualizar Altura</ion-label>
      <ion-input type="number" placeholder="Ingrese su altura en cm"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Condición Física</ion-label>
      <ion-select placeholder="Seleccione su nivel de condición física">
        <ion-select-option value="principiante">Principiante</ion-select-option>
        <ion-select-option value="intermedio">Intermedio</ion-select-option>
        <ion-select-option value="avanzado">Avanzado</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block">Guardar Cambios</ion-button>

    <p class="forgot-password"><a href="#">Volver a la Página Principal</a></p>
    
  </div>

</ion-content>
