<ion-header>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <ion-toolbar>
    <ion-title>BIGG LIFT</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/configuracion">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <ion-list>
    <ion-item class="training-option">
      <ion-button expand="block" fill="solid">
        <ion-icon name="barbell-outline" slot="start"></ion-icon>
        <ion-label>Entrenar con equipamiento</ion-label>
      </ion-button>
    </ion-item>

    <ion-item class="training-option">
      <ion-button expand="block" fill="solid">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label>Entrenar sin equipamiento</ion-label>
      </ion-button>
    </ion-item>

    <ion-item class="training-option">
      <ion-button expand="block" fill="solid">
        <ion-icon name="walk-outline" slot="start"></ion-icon>
        <ion-label>Entrenar al aire libre</ion-label>
      </ion-button>
    </ion-item>
  </ion-list>

  <div class="logo-container">
    <img src="assets/bigglift_logo.png" alt="Bigg Lift Logo" class="logo"/>
  </div>
</ion-content>
